#board {
    width: 90vh;
    height: 90vh;
    border: 1px solid #dddddd;
    margin-left: 10px;
}
.cell {
    width: 4.3vh;
    height: 4.3vh;
    float: left;
    border: 0.1vh solid #dddddd;
    background-color: #ffffff;
}
.id{
    color:blue;
}
.alive{
    background-color:black;
    width:35%;
}
