#board {
    width: 90vh;
    height: 90vh;
    border: 1px solid #dddddd;
    margin-left: 10px;
}
.cell {
    width: 4.3vh;
    height: 4.3vh;
    float: left;
    border: 0.1vh solid #dddddd;
    background-color: #ffffff;
}
.button{
    height:4.3vh;
    float:left;
    outline:none;
    border: 1px solid #dddddd;
    background-color: #ffffff;

}
.button:active{
    background-color: #cbcbcb;
    border: 1px solid #adadad;
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
}
#autoStep{
    outline:none;
    border: 1px solid #dddddd;
    background-color: #ffffff;
}
#autoStep:active{
      background-color: #cbcbcb;
      border: 1px solid #adadad;
  -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
}
.alive{
    background-color:black;
    width:35%;
}
.cellID{
    opacity:0%
}
#stepsPerSec{
    width:150px;
    -webkit-appearance: none;
    background-color: #d3d3d3;
    height: 8px;
    border-radius: 5px;
}
#stepsPerSec::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 8px;
  height: 18px;
  background: grey;
  border: 1px solid #555555;
  cursor: pointer;
}